<!-- here is an additional section of the view -->
<script type="text/ng-template" id="about_sb.html" ng-init="$parent.sidebar='about_sb.html'">
    <!--<li class="active"><a href="#/about?scrollTo=about">About <span class="sr-only">(current)</span></a></li>-->
    <li><a href="#/about?scrollTo=about">About</a>
    <li><a href="#/about?scrollTo=api">API</a>
    <li><a href="#/about?scrollTo=technologies">Technologies</a></li>
    <li><a href="#/about?scrollTo=contribute">Contribute</a></li>
    <li><a href="#/about?scrollTo=links">Links</a></li>
</script>

<!-- content -->

<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/about">About</a></li>
    </ol>

</div>

<div class="jumbotron">
  <h1 class="page-header"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Swiss Rugby Stats <span class="beta">BETA</span></h1>
  Site under construction. We appreciate any feedback: info@rugbygear.ch
</div>

<h2 id="about">About</h2>
<p>The final goal of this site is to provide an easy to use service for Swiss Rugby Clubs to create statistics about their players and games.</p>

<h2 id="api">API</h2>
<p>Feel free to use <a href="http://api.swissrugbystats.ch" target="_blank">our REST API</a> to write your own apps and websites.</p>
<p>The documentation will soon be updated.</p>
<a href="http://api.swissrugbystats.ch" target="_blank">http://api.swissrugbystats.ch</a>

<h2 id="technologies">Technologies</h2>
<p>This project was created using a lot of different technologies and frameworks:</p>
<ul>
    <li>Django - a very nice and open source python framework</li>
    <li>Beautifulsoup - a powerful framework to crawl the web in python</li>
    <li>AngularJS - for all the fancy frontend stuff</li>
    <li>Twitter Bootstrap - for the main layout and design of the website</li>
</ul>

<h2 id="contribute">Contribute</h2>
<p>You can find the whole code of this <a href="https://github.com/platzhersh/swissrugbystats_client" target="_blank">project on github</a>, so feel free to clone it, change it and use it for your own interests. Also feel free to <a href="https://github.com/platzhersh/swissrugbystats_client/issues" target="_blank">report bugs or feature requests</a>.</p>

<h2 id="links">Links</h2>
<ul>
    <li><a href="http://rugbygear.ch">rugbygear.ch</a> - Your Swiss Rugby Shop</li>
    <li><a href="http://suisserugby.com">suisserugby.com</a> - Official website of Swiss rugby</li>
</ul>