<!-- here is an additional section of the view -->
<script type="text/ng-template" id="games_sb.html" ng-init="$parent.sidebar='games_sb.html'">
    <!--<li><a href="#/about?scrollTo=about">About</a>-->
</script>

<!-- content -->
<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/games">Games</a></li>
    </ol>

</div>

<div class="jumbotron">
  <h1 class="page-header">Games</h1>
</div>

<ul>
<li data-ng-repeat="g in games">
  {{ g.date | date:'dd.MM.yyyy' }} - <a href="#/games/{{ g.id }}">{{ g.host.team.name }} vs {{ g.guest.team.name }}</a> <span ng-show="g.host.score">- ({{ g.host.score}} : {{ g.guest.score }})</span></li>
</ul>

 