<!-- here is an additional section of the view -->
<script type="text/ng-template" id="game_sb.html" ng-init="$parent.sidebar='game_sb.html'">
    <!--<li><a href="#/about?scrollTo=about">About</a>-->
</script>

<!-- content -->

<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/games">Games</a></li>
        <li><a href="#/games/{{game.id}}">{{game.host.team.name}} vs {{game.guest.team.name}}</a></li>
    </ol>

</div>

<div class="jumbotron">
  <h1 class="page-header"><a href="#/teams/{{game.host.team.id}}">{{game.host.team.name}}</a> vs <a href="#/teams/{{game.guest.team.id}}">{{game.guest.team.name}}</a><span id="result" data-ng-if="game.host.score && game.guest.score"> ({{game.host.score}}:{{game.guest.score}})</span></h1>
    <p>
      <span data-ng-if="game.date">Kickoff: {{game.date | date:"dd.MM.yyyy',' HH:mm"}}<br /></span>
      <span data-ng-if="game.venue.name">Venue: <a href="#/venues/{{game.venue.id}}">{{game.venue.name}}</a><br /></span>
      <span data-ng-if="game.referee.name">Referee: {{game.referee.name}}<br /></span>
      <a href="{{game.fsrUrl}}" target="_blank">View game on suisserugby.com</a>
    </p>
</div>

<h2 class="sub-header">Other encounters</h2> 
  <ul>
    <li data-ng-repeat="g in games | filter:gameParticipantFilter | filter:game:areNotEqual ">
      {{ g.date | date:'dd.MM.yyyy' }} - <a href="#/games/{{ g.id }}">{{ g.host.team.name }} vs {{ g.guest.team.name }}</a> <span ng-show="g.host.score">- ({{ g.host.score}} : {{ g.guest.score }})</span></li>
  </ul>