<!-- here is an additional section of the view -->
<script type="text/ng-template" id="index_sb.html" ng-init="$parent.sidebar='index_sb.html'">
    <!--<li><a href="#/about?scrollTo=about">About</a>-->
</script>

<!-- content -->

<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
    </ol>

</div>

<div class="jumbotron">
  <img src="img/srs_logo.png" alt="Swiss Rugby Stats Logo" title="Swiss Rugby Stats Logo" id="logo_main">
  <h1 class="page-header">Swiss Rugby Stats <span class="beta">BETA</span></h1>
  <p>Site under construction. We appreciate any feedback: info@rugbygear.ch</p>
  <p>You can <a href="https://play.google.com/apps/testing/ch.swissrugbystats.ionic" target="_blank">sign up for testing our Android App</a>.</p>
  <p>If you like what we are doing, please give us a like on <a href="https://www.facebook.com/Swiss-Rugby-Stats-466151246910097/?fref=ts" target="_blank">Facebook</a>!</p>

</div>

<br/><br/>
<p>Created 2014/2015 by <br /><a href="https://wwww.rugbygear.ch" target="_blank">Rugbygear.ch</a> - get your gear online.</p>