<!-- here is an additional section of the view -->
<script type="text/ng-template" id="index_sb.html" ng-init="$parent.sidebar='index_sb.html'">
    <!--<li><a href="#/about?scrollTo=about">About</a>-->
</script>

<!-- content -->

<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
    </ol>

</div>

<div class="jumbotron">
  <h1 class="page-header">Swiss Rugby Stats</h1>
  Site under construction. We appreciate any feedback: info@rugbygear.ch
</div>

<ul>
	<li><a href="#/leagues">Leagues</a></li>
    <!--<li><a href="#/clubs">Clubs</a></li>-->
    <li><a href="#/teams">Teams</a></li>
    <li><a href="#/venues">Venues</a></li>
    <li><a href="#/referees">Referees</a></li>
    <li><a href="#/games">Games</a></li>
    <li><a href="" data-toggle="modal" data-target="#myModal">About</a></li>
    <li><a target="_blank" href="http://api.swissrugbystats.ch" title="Swiss Rugby Stats API">API</a></li>
</ul>
<br/><br/>
<p>Created 2014/2015 by <br /><a href="https://wwww.rugbygear.ch" target="_blank">Rugbygear.ch</a> - get your gear online.</p>