<!-- here is an additional section of the view -->
<script type="text/ng-template" id="leagues_sb.html" ng-init="$parent.sidebar='leagues_sb.html'">
    <!--<li><a href="#/about?scrollTo=about">About</a>-->
</script>

<!-- content -->

<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/leagues">Leagues</a></li>
    </ol>

</div>

<div class="jumbotron">
  <h1 class="page-header">Leagues</h1>
</div>

   <ul>
    <li data-ng-repeat="l in leagues">
      <a href="#/team/{{l.id}}">{{l.name}}</a></li>
  </ul>

 