<!-- here is an additional section of the view -->
<script type="text/ng-template" id="profile_sb.html" ng-init="$parent.sidebar='profile_sb.html'">
</script>

<!-- Breadcrumbs -->

<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/profile">Profile</a></li>
    </ol>
</div>

<!-- content -->

<div class="jumbotron">
  <h1 class="page-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</h1>
</div>

Welcome back {{username}}!

<h2 class="sub-header">Favorite teams</h2>
<ul>
  <li data-ng-repeat="f in favorites | filter:username">
    <a href="#/teams/{{f.team.id}}">{{f.team.name}}</a></li>
</ul>

<!--
<h2 class="sub-header">Settings</h2>

<h3 class="sub-header">Change password</h2>
-->