<!-- here is an additional section of the view -->
<script type="text/ng-template" id="teams_sb.html" ng-init="$parent.sidebar='teams_sb.html'">
    <!--<li><a href="#/about?scrollTo=about">About</a>-->
</script>

<!-- content -->

<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/teams">Teams</a></li>
    </ol>

</div>

<div class="jumbotron">
  <h1 class="page-header">Teams</h1>
</div>
	
	<p>
	Filter: <input data-ng-model="filter" type="text"></input><br/>
	</p>

   <ul>
    <li data-ng-repeat="t in teams | filter:filter">
      <a href="#/teams/{{t.id}}">{{t.name}}</a></li>
  </ul>