<!-- here is an additional section of the view -->
<script type="text/ng-template" id="team_sb.html" ng-init="$parent.sidebar='team_sb.html'">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Spiele</a></li>
    <li><a href="#">Statistik</a></li>
    <li><a href="#">Spieler</a>

    <li><a href="">Club Website</a></li>
    <li><a href="">Club Facebook</a></li>
    <li><a href="">Club Twitter</a></li>
</script>



<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/teams">Teams</a></li>
        <li><a href="#/teams/{{team.id}}">{{team.name}}</a></li>
    </ol>

</div>

<div class="jumbotron">
  <h1 class="page-header">{{team.name}}</h1>
  <img src="{{team.logo}}">
    <p>Played games: {{team.gameCount}}<br/>
      Won games: {{team.winCount}}<br/>
      Lost games: {{team.lossCount}}</p>
</div>

 <h2 class="sub-header">Spiele</h2>
  <h3 class="sub-header">Nächstes Spiel</h3>
  <p>{{ team.nextGame.date | date:'dd.MM.yyyy' }} - <a href="#/games/{{ team.nextGame.id }}">{{ team.nextGame.host.team.name }} vs {{ team.nextGame.guest.team.name }}</a> <span ng-show="g.host.score">- ({{ team.nextGame.host.score}} : {{ team.nextGame.guest.score }})</span></p>
  <h3 class="sub-header">Letztes Spiel</h3>
  <p>{{ team.lastGame.date | date:'dd.MM.yyyy' }} - <a href="#/games/{{ team.lastGame.id }}">{{ team.lastGame.host.team.name }} vs {{ team.lastGame.guest.team.name }}</a> <span ng-show="g.host.score">- ({{ team.lastGame.host.score}} : {{ team.lastGame.guest.score }})</span></p>

  <h3>Alle Spiele</h3>
  <ul>
    <li data-ng-repeat="g in games | filter:gameParticipantFilter">
      {{ g.date | date:'dd.MM.yyyy' }} - <a href="#/games/{{ g.id }}">{{ g.host.team.name }} vs {{ g.guest.team.name }}</a> <span ng-show="g.host.score">- ({{ g.host.score}} : {{ g.guest.score }})</span></li>
  </ul>

  

<h2 class="sub-header">Statistik</h2>
  <p>Blabla Team Statistiken Blabla</p>

<h2 class="sub-header">Spieler</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
      <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>Integer</td>
        <td>nec</td>
        <td>odio</td>
        <td>Praesent</td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>libero</td>
        <td>Sed</td>
        <td>cursus</td>
        <td>ante</td>
      </tr>
    </tbody>
  </table>
</div>

{{sidebar}}