<!-- here is an additional section of the view -->
<script type="text/ng-template" id="teams_sb.html" ng-init="$parent.sidebar='teams_sb.html'">
    <!--<li><a href="#/about?scrollTo=about">About</a>-->
</script>

<!-- content -->

<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/teams">Teams</a></li>
    </ol>

</div>

<div class="jumbotron">
  <h1 class="page-header">Teams</h1>
</div>
	
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Filter: </span>
    <input type="text" data-ng-model="teamfilter.name" class="form-control" placeholder="Team name" aria-describedby="basic-addon1">
  </div>

  Display as <div class="btn-group">
      <a ng-click="show_grid_view()" href="" id="grid" class="btn btn-default btn-sm"><span
          class="glyphicon glyphicon-th"></span>Grid</a> <a ng-click="show_list_view()" href="" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
      </span>List</a>
  </div>

  <hr>

   <ul class="teams-list-view">
    <li data-ng-repeat="t in teams | filter:teamfilter">   
      <a href="#/teams/{{t.id}}">{{t.name}}</a></li>
  </ul>
  
  <div class="row teams-grid-view">
        <div class="col-sm-6 col-md-3" data-ng-repeat="t in teams | filter:teamfilter">
        <a href="#/teams/{{t.id}}">
          <div class="thumbnail">
              <img class="team-logo" src="{{t.logo}}" alt="{{t.name}}">
              <h3>{{t.name}}</h3>
          </div>
        </a>
      </div>
  </div>