<!-- here is an additional section of the view -->
<script type="text/ng-template" id="games_sb.html" ng-init="$parent.sidebar='games_sb.html'">
    <li><a href="#/teams/{{team.id}}/schedule">Schedule</a>
    <li><a href="#/teams/{{team.id}}/players">Players</a>
</script>

<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/teams">Teams</a></li>
        <li><a href="#/teams/{{team.id}}">{{team.name}}</a></li>
    </ol>

</div>

<!-- Notifications -->
<div class="alert alert-danger" data-ng-if="error">
  <span  class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
<div class="alert alert-info" data-ng-if="info">
  <span  class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
  {{info}}
</div>
<div class="alert alert-success" data-ng-if="success">
  <span  class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
  <span class="sr-only">Success:</span>
  {{success}}
</div>
<!-- end notifications -->


<div class="jumbotron" id="overview">
  <span title="Add to favorites" class="glyphicon glyphicon-star-empty pull-right favorize" aria-hidden="true" data-ng-click="addFavorite()"></span>
  <h1 class="page-header">{{team.name}}</h1>
  <img class="team-logo" src="{{team.logo}}" alt="{{team.name}}">

    <p>Played games: {{team.gameCount}}<br/>
      Won games: {{team.winCount}}<br/>
      Lost games: {{team.lossCount}}<br/>
      Draws: {{team.drawCount}}<br/>
      </p>
</div>

 <h2 class="sub-header" id="games">Games</h2>
  <h3 class="sub-header">Next Game</h3>
  <p>{{ team.nextGame.date | date:'dd.MM.yyyy' }} - <a href="#/games/{{ team.nextGame.id }}">{{ team.nextGame.host.team.name }} vs {{ team.nextGame.guest.team.name }}</a> <span ng-show="team.nextGame.host.score">- ({{ team.nextGame.host.score}} : {{ team.nextGame.guest.score }})</span></p>
  <h3 class="sub-header">Last Game</h3>
  <p>{{ team.lastGame.date | date:'dd.MM.yyyy' }} - <a href="#/games/{{ team.lastGame.id }}">{{ team.lastGame.host.team.name }} vs {{ team.lastGame.guest.team.name }}</a> <span ng-show="team.lastGame.host.score">- ({{ team.lastGame.host.score}} : {{ team.lastGame.guest.score }})</span></p>

  <h3><span class="glyphicon glyphicon-calendar"></span> Game Schedule
  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#widget-modal">
      Get widget
    </button>
  </h3>

  <table class="table">
  <thead>
    <tr><th>Datum</th><th>Spiel</th><th>Resultat</th></tr>
  </thead><tbody>
    <tr data-ng-repeat="g in games"> 
      <td>{{ g.date | date:'dd.MM.yyyy' }}</td>
      <td><a href="#/games/{{ g.id }}">{{ g.host.team.name }} vs {{ g.guest.team.name }}</a></td>
      <td><span ng-show="g.host.score">{{ g.host.score}} : {{ g.guest.score }}</span></td>
    </tr>
  </tbody>
 </table>

<!-- Modal -->
<div class="modal fade" id="widget-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Swiss Rugby Stats Widget</h4>
      </div>
      <div class="modal-body">
        <ol>
          <li>Include the swissrugbystats javascript library in your website</li>
          <textarea class="code-snippet" readonly="readonly"><script type='text/javascript' src='http://swissrugbystats.ch/lib/srs-widgets.js'></script></textarea>
          <li>Place the placeholder div where you would like the game schedule to be displayed</li>
          <textarea class="code-snippet" readonly="readonly"><div class="srs-schedule" data-teamid="{{team.id}}" data-seasonid="3">Spielplan wird geladen...</div></textarea>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
<!--
<h2 class="sub-header">Statistik</h2>
  <p>Blabla Team Statistiken Blabla</p>

<h2 class="sub-header">Spieler</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
      <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>Integer</td>
        <td>nec</td>
        <td>odio</td>
        <td>Praesent</td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>libero</td>
        <td>Sed</td>
        <td>cursus</td>
        <td>ante</td>
      </tr>
    </tbody>
  </table>
</div>

{{sidebar}}

-->