<!-- here is an additional section of the view -->
<script type="text/ng-template" id="venue_sb.html" ng-init="$parent.sidebar='venue_sb.html'">
    <!--<li><a href="#/about?scrollTo=about">About</a>-->
</script>

<!-- content -->
<div>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/venues">Venues</a></li>
        <li><a href="#/venues/{{venue.id}}">{{venue.name}}</a></li>
    </ol>

</div>

<div class="jumbotron">
  <h1 class="page-header">{{venue.name}}</h1>
</div>
<div class="map"></div>
<div id="map"></div>
