<table class="table">
    <thead>
        <tr>
            <th><h1 class="page-header"><a href="#/teams/{{game.host.team.id}}">{{game.host.team.name}}</a></h1></th>
            <th><h1 class="page-header">versus</h1></th>
            <th><h1 class="page-header"><a href="#/teams/{{game.guest.team.id}}">{{game.guest.team.name}}</a></h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{game.host.team.logo}}" alt="{{game.host.team.name}}" title="{{game.host.team.name}}" id="team-logo"></td>
            <td><h1 id="result" data-ng-show="game.host.score >= 0 && game.guest.score >= 0">{{game.host.score}} : {{game.guest.score}}</h1></td>
            <td><img src="{{game.guest.team.logo}}" alt="{{game.guest.team.name}}" title="{{game.guest.team.name}}" id="team-logo"></td>
        </tr>

        <tr ng-if="game.host.score >= 0 && game.guest.score >= 0">
            <th>Kickoff</th>
            <td colspan="2">{{game.date | date:"dd.MM.yyyy',' HH:mm"}}</td>
        </tr>

        <tr ng-if="game.venue">
            <th>Venue</th>
            <td colspan="2"><a href="#/venues/{{game.venue.id}}">{{game.venue.name}}</td>
        </tr>

        <tr ng-if="game.referee.name">
            <th>Referee</th>
            <td colspan="2">{{game.referee.name}}</td>
        </tr>

        <tr ng-if="game.host.forfait || game.guest.forfait">
            <td><span ng-show="game.host.forfait">Forfait gegeben</span></td>
            <th>Forfait?</th>
            <td><span ng-show="game.guest.forfait">Forfait gegeben</span></td>
        </tr>

        <tr ng-if="game.host.score >= 0 && game.guest.score >= 0">
            <td>{{game.host.tries}}</td>
            <th>Tries</th>
            <td>{{game.guest.tries}}</td>
        </tr>

        <tr ng-if="game.host.score >= 0 && game.guest.score >= 0">
            <td>{{game.host.redCards}}</td>
            <th>Red Cards</th>
            <td>{{game.guest.redCards}}</td>
        </tr>
    </tbody>
</table>